@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@1,500&display=swap');


@media only screen and (min-width: 580px){
    
    body {

        background-image: url(../images/fondo_viandas.jpg);
        background-color: black;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }
    
    .descripcionViandas {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        width: 75%;
        font-size: 35px;
        
    }

    .categoria  {
        color: white;
        width: 75%;
        font-size: 35px;

    }

    .descripcion{
        border: solid 4px rgb(24, 151, 24);
        border-radius: 17px;
        padding: 47px;
    }


    .plato {
        color: rgb(250, 249, 248);
        font-size: 3vw;
        border-bottom: 9px solid indianred;
        /* text-align: center; */
        /* margin: 35px 493px; */
        margin-top: 64px;
        width: max-content;
        border-radius: 8px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    

    .volver {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 15%;
        background-color: rgb(255, 173, 50);
        border: 5px solid rgb(150, 81, 35);
        border-bottom: 5px solid rgb(94, 56, 24);
        border-right: 5px solid rgb(94, 52, 24);
        font-size: 3vw;
        border-radius: 10px;
        color: black;
        padding: 11px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
    }
    
    .contenedorVianda {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .contenedorVolver {

        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
        margin: 3%;
        border: none;
    }


    /* NOMBRE DEL PLATO */



    .precio{
        font-family: 'Times New Roman', Times, serif;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding: 12px;
        margin: 20px;
        margin-top: 0;
        color: rgb(255, 248, 240);
        font-size: 4.5vw;
        border-radius: 100px;
        background-color: #d1852e;
        transition: all 500ms ease;
        width: auto;
    }

    .calificacionYComentario{
        margin-left: 12%;
    }

    .calificacion, .tituloComentarios{
        color: white;
        font-size: 25px;
        margin: 55px 0px;
    }

    #form {
        width: 250px;
        margin: 0 auto;
        height: 50px;
      }
      
      #form p {
        text-align: center;
      }
      
      #form label {
        font-size: 20px;
      }
      
      input[type="radio"] {
        display: none;
      }
      
      label {
        color: grey;
        cursor: pointer;
      }
      
      .clasificacion {
        direction: rtl;
        margin-top: -40px;
        unicode-bidi: bidi-override;
        margin-right: 87%;
        font-size: 35px;
        
      }
      
      label:hover, label:hover ~ label {
        color: orange;
      }
      
      input[type="radio"]:checked ~ label {
        color: orange;
      }

    textarea{

        background-color: transparent;
        border: 2px solid blueviolet;
        width: 60%;
        color: white;
        font-size: 18px;
        margin: 1% 7%;
        border-radius: 7px;
        
    }

    .comentarioYBoton{
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }

    #btnEnviar{

        font-size: 20px;
        border-radius: 11px;
        background-color: rgb(8, 177, 112);
        padding: 6px;
        cursor: pointer;
        border: 4px solid black;

    }

    #btnEnviar:hover {

        background-color:rgb(76, 255, 180);
        transition: all ease 0.8s;
        border: 4px solid black;

    }

    .contenedorComentarios{
        margin-bottom: 10%;
        margin-left: 13%;
    }

    .tituloComentarios{
        color: white;
        font-size: 25px;
        margin: 56px 0px 56px 0px;
        
    }

    .comentarios{
        width: 63%;
        margin-left: 5%;
        color: white;

    }

    ul{
        list-style: none;
        text-align: center;
        font-family: 'Bree Serif';
        margin-left: 19%;
        font-size: 25px;
        padding: 0%;
    }

    li{
        margin-bottom: 6%;
        background-color: rgb(8, 177, 112);
        border-radius: 6px;
        padding: 13.5px;
        font-size: 25px;
        font-family: 'Archivo Narrow', sans-serif;
    }

    .imgUser{

        width: 30px;
        margin-right: 14px;
    }

    .imgYUser{
       
        margin-bottom: 18px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .userCalificacion{
        color: orange;
    }

    .textoComentario{
        text-align: initial;
        margin: 4px 35px;
    }

    .usuarioCalificacion{

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}