@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');


body {

    background-image: none;
    margin: 0;
    background-color: rgb(255, 207, 153);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}



#btn-menu {

    display: none;

}


/* HEADER */


header {

    position: relative;
    z-index: 3;
    width: 100%;
    border-bottom: 5px solid rgb(240, 166, 69);

}


.encabezado {

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    background-color: rgb(233, 154, 52);
    height: 80px;
    
}


.tituloYlogo {

    width: auto;
    display: flex;
    align-items: center;

}


.logoEncabezado {

    display: flex;
    width: 90px;

}


.titulo {

    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #000000;
    font-size: 35px;
    padding: 0px;
    margin: 0px;
    height: auto;
    width: auto;;
    border-bottom: 5px solid yellowgreen;
    font-family: 'Dancing Script', 'Times New Roman', Times, serif;

}


.imagenMenu {

    display: flex;
    margin-right: 10px;
    width: 40px;
    cursor: pointer;

}


 /* NAVEGADOR DESPLEGABLE ENTRE PAGINAS */

nav {

    position: absolute;
    z-index: 2;
    transition: all ease 0.8s;
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    margin-top: -700px;

}


.desplegarNav {

    margin-top: 10px;

}


.menu {

    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: none;
    height: auto;
    font-size: 50px;
    width: 70%;
    transition: all ease 1s;
    background-color: rgb(232, 255, 218);
    padding: 25px;
    border-radius: 30px;
    border-bottom: 5px solid rgb(111, 148, 88);
    border-right: 5px solid rgb(111, 148, 88);
    text-align: center;


}


.item {

    display: flex;
    justify-content: center;
    width: auto;
    padding: 8px;
    margin: 5px;
    border-radius: 20px;
    border-bottom: 5px solid #E8A527;
    background-color: #E87227;    
    list-style: none;
    text-decoration: none;
    color: white;
    font-size:30px;

}


.itemPrincipal {

    display: flex;
    justify-content: center;
    font-weight: bold;
    width: auto;
    padding: 8px;
    margin: 5px;
    border-radius: 20px;
    border-bottom: 5px solid rgb(18, 156, 0);
    background-color: yellowgreen;
    color: #000000;
    list-style: none;
    text-decoration: none;
    font-size:30px;

}


/*CONSULTAS*/


.botonConsultas {

    display: none;

}


.botonConsultas {

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 45px;
    width: 140px;
    right: 85%;
    top: 60px;
    border-radius: 26px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    background-color: #d1852e;
    text-decoration: none;
    color: black;
    border: 1px solid rgb(155, 155, 155);
    font-size: 14px;

}

.botonLogueo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 45px;
    width: 140px;
    left: 85%;
    top: 60px;
    border-radius: 26px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    background-color: #d1852e;
    text-decoration: none;
    color: black;
    border: 1px solid rgb(155, 155, 155);
    font-size: 14px;

}

.botonAdministrar {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 45px;
    width: 140px;
    left: 85%;
    top: 120px;
    border-radius: 26px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    background-color: #d1c12e;
    text-decoration: none;
    color: black;
    border: 1px solid rgb(155, 155, 155);
    font-size: 14px;
    margin: 10px;
}


.imagenConsultas {

    width: 30px;
    margin-left: 9px;

}


.section-consultas {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;

}
.botonConsultas {
    display: flex;
    justify-content: center;
    align-items: center;
    position: inherit;
    width: 50%;
    margin: 10px;
}

.botonConsultas:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 16px rgb(224, 171, 140);
    transition: all 0.5s ease;
}

.botonLogueo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: inherit;
    width: 50%;
    margin: 10px;
}

.botonLogueo:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 16px rgb(224, 171, 140);
    transition: all 0.5s ease;
}
/* FOOTER */


.ilvero {

    display: none;

}


footer {

    border-top: 5px solid rgb(240, 166, 69);
    position: static;
    margin-top: 10px;
    height: 100px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cc8937;
    font-size: 15px;
    bottom: 0%;
    width: 100%;

}


footer a {

    margin: 8px;
    height: auto;

} 
    