@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');


.contenedorVianda{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 8px solid green;
    border-radius: 15px;
    margin: 10px;
}

.tituloAllCategorias{
    color: rgb(250, 249, 248);
    font-size: 3vw;
    border-bottom: 9px solid indianred;
    text-align: center;
    margin: 35px 493px;
    margin-top: 64px;
    border-radius: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.categoriasAll{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}



.categoria, .verTodas {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
    background-color: yellowgreen;
    border: 5px solid rgb(112, 150, 35);
    border-bottom: 5px solid rgb(70, 94, 24);
    border-right: 5px solid rgb(70, 94, 24);
    font-size: 6vw;
    border-radius: 10px;
    color: black;
    padding: 13px;
    font-family: 'Bree Serif', serif;
    text-decoration: none;
}

.subtitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
    background-color: yellowgreen;
    border: 5px solid rgb(112, 150, 35);
    border-bottom: 5px solid rgb(70, 94, 24);
    border-right: 5px solid rgb(70, 94, 24);
    font-size: 6vw;
    border-radius: 10px;
    color: black;
    padding: 13px;
    font-family: 'Bree Serif', serif;
    text-decoration: none;
}

.categoria:hover{
    background-color:green;
    border: 5px solid rgb(81, 109, 26);
    border-bottom: 5px solid rgb(35, 48, 13);
    border-right: 5px solid rgb(70, 94, 24);
    transition: all ease 0.3s;
}
.verTodas:hover {
    background-color: orange;
    border: 5px solid rgb(81, 109, 26);
    border-bottom: 5px solid rgb(35, 48, 13);
    border-right: 5px solid rgb(70, 94, 24);
    
}



.fotoComida {
    margin: 50px;
    width: 300px;
    height: 200px;
    margin-right: 20px;
    border-radius: 100px;
    border: 3px solid rgb(72, 145, 0);
    transition: all 500ms ease;
}

.plato{
    display: flex;
    justify-content: center;
    width: 100%;
}

.descripcionViandas {
    font-weight: bold;
    color: black;
    display: flex;
    text-align: center;
    font-size: 6vw;
    margin: 5px;
    font-family: 'Bree Serif', serif;
}




.fotoComida {
    height: 30%;
    width: 45%;
    margin: 15px;
}

.precio{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 12px;
    margin: 20px;
    margin-top: 0;
    color: rgb(255, 248, 240);
    font-size: 10vw;
    border-radius: 100px;
    background-color: #d1852e;
    transition: all 500ms ease;
}

/* TABLA DE VIANDAS */

.tabla{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

table {
    opacity: 0.9;
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    border: 10px solid rgb(1, 100, 1);
    border-bottom: 10px solid rgb(0, 75, 0);
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 60px;
    transition: all 500ms ease;
    width: 100%;
}

th, td {
    width: 10%;
    padding: 1%;
    font-size: 3.5vw;
}

tr:nth-child(even) {
    background-color: bisque;
}
/*
tr:hover td {
    background-color: rgb(197, 131, 31);
}
*/
thead {
    background-color: green;
    color: rgb(248, 248, 248);
}
/* INPUTS PARA TABLA*/

form{
    display: flex;
    justify-content: center;
}



.textoInput {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
}

#producto {
    height: 30px;
    font-size: 40px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    width: 100%;
}

#precio {
    font-family: 'Times New Roman', Times, serif;
    height: 30px;
    font-size: 40px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    width: 100%;
}

.textoInput2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#productoNuevo {
    font-size: 10px;
    padding: 5px;
    height: 10px;
    width: 65px;
}

#precioNuevo {
    font-size: 10px;
    padding: 5px;
    height: 10px;
    width: 65px;
}

.botonBorrarTD{
    font-size: 15px;
    width: 90%;
    height: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.botonBorrarTD :hover{
    color: red;
    transition: all ease 100ms;
}

.botonBorrar{
    font-size: 15px;
    margin: 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.botonEditarTD{
    width: 90%;
    font-size: 15px;
    background-color: white;
}

.fa{
    width: 100%;
}

.botonEditarTD :hover{
    color: blue;
    transition: all ease 100ms;
}

.filtro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.verFiltro{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-filtro{
    display: inline-block;
    width: 65px;
    height: 33px;
    background: grey;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
}

.icon-filtro::after{
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 100px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: 0.2s;
}

#btn-filtro:checked + .icon-filtro::after{
 left: 36px;
}

#btn-filtro:checked + .icon-filtro{
    background: #017401;
}

#btn-filtro{
    display: none;
}

.filtroText{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    text-transform: none;
    margin-top: 10px;
    color: white;
}

.celiacos{
    background-color: white;
    border-radius: 10px;
    border: 4px solid green;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    font-size: 15px;
    text-transform: none;
}

#btn-celiacos{
    width: 40px;
}

.desaparecer{
    display: none;
}



/*CONTENEDOR DE BOTONES */
.botones {
    
    justify-content: space-between;
    align-items: center;
    margin: 25px;
    width: 100%;
}

/* ESTILO PARA TODOS LOS BOTONES */

button {

    margin: 5px;
    height: auto;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    border: 4px solid rgb(22, 29, 9);
    border-radius: 10px;
    cursor: pointer;
    width: auto;

}

#edicionTerminada {
    margin: 0;
    padding: 0;
    width: 90%;
    height: 50px;
    font-size: 12px;

}

.ocultar {
    display: none;
}

