@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');



@media only screen and (min-width: 361px){
 
    .titulo {
        justify-content: flex-end;
        align-items: flex-end;
        color: #000000;
        font-size: 40px;
        padding: 0px;
        height: 50px;
        width: auto;;
    }

}




@media only screen and (min-width: 1200px){


    /* ENCABEZADO DE TODAS LAS PAGINAS */

    header {

        position: none; 
        z-index: 0;
        border: none;

    }

    .encabezado {

        background-color: transparent;
        justify-content: center;
        height: auto;

    }

    /* LOGO DE LA PAGINA (SE HABILITA EN RESPONSIVE) */

    .logoEncabezado {

        display: none;

    }

    .titulo {

        justify-content: center;
        color: white;
        font-size: 100px;
        padding: 5px;
        width: 550px;
        margin-bottom: 30px;
        height: auto;

    }

    /* BOTON "CONSULTAS" DE TODAS LAS PAGINAS */

    .botonConsultas {

        position: absolute;
        width: 140px;

    }

    .botonLogueo {
        position: absolute;
        width: 140px;

    }

    /* LOGO BOTON DESPLEGAR (SE HABILITA EN RESPONSIVE) */

    .imagenMenu {

        display: none;

    }

    /* BARRA DE NAVEGACION DE TODAS LAS PAGINAS */

    nav {

        position: inherit;
        margin: 0;
        justify-content: center;
        width: 100%;
        
    }

    .menu {

        align-items: center;
        flex-direction: row;
        background-color: transparent;
        font-size: 50px;
        width: auto;
        border: none;
    }

    #btn-menu{

        display: none;

    }

    .item {

        margin: 0px 10px;
        padding: 10px 20px;
        border-bottom: 5px solid #d1852e;
        width: auto;
        font-size: 45px;
        background-color: transparent;

    }

    .itemPrincipal {

        margin: 0px 10px;
        padding: 10px 20px;
        border-bottom: 5px solid yellowgreen;
        color: white;
        font-size: 45px;
        background-color: transparent;

    }

    .item:hover {

        background-color: #ffa33b;
        border-radius: 50px;
        color: rgb(0, 0, 0);
        transition: all 500ms ease;

    }

    /* FOOTER */

    /* "ilvero" BOTON AMARILLO EN EL FOOTER */

    .ilvero {

        display: flex;
        justify-content: center;
        height: 60px;
        border-bottom: 5px solid #d0d334;
        background-color: #f0f33c;
        border-radius: 10px;
        width: 200px;
        color: rgb(53, 53, 53);
        text-decoration: none;
        font-size: 50px;

    }

    .ilvero:hover {

        background-color: #f0f33c;
        border-radius: 50px;
        color: black;
        transition: all 1000ms ease;

    }

    footer {

        align-items: flex-end;
        background-color: transparent;
        border-top: none;

    }

    
    .user{
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 85%;
        top: 17px;
        color: white;
    }


}